@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: YuseiMagic;
    src: url(../fonts/YuseiMagic-Regular.ttf);
}
html {
    font-size: 62.5%; 
    /* Normalizar para REMS */
}
body{
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
.contenedor{
    margin: 80px auto;
    width: 90%;
    /* border: 1px solid red; */
    text-align:center;
}
.contenido{
    margin: 40px 0;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
h1{
    color:  #F09120;
}
.portada{
    height: 500px;
    background-image: url(../images/flaquito.jpg);
    background-position: center top;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido_portada{
    color: rgb(3, 3, 3);
    background-color: rgba(255, 255, 255,.65);
    width: 40%;
    height: 60%;
    padding: 2% 4% 1% 4%;
}
.boton{
    background-color:  #F09120;
    padding: 8px 25px;
    margin: 10px auto;
    border-radius: 10px;
    text-decoration:none;
    color:white;
    font-family: 'YuseiMagic';
}

.foto{
    /* margin: 10px; */
    /* border: 1px solid blue; */
    width:90%;
    padding-bottom: 20px;
}
img{
width: 100%;
}
.texto{
    margin: 10px;
    /* border: 1px solid violet; */
    /* width:40%; */
    /* display: block; */
    padding: 45px;
    width:80%;
    background-color: rgb(209, 209, 209);
}
h2{
    color: #F09120;
    font-family: 'YuseiMagic';
}
h3{
    color: #F09120;
    font-family: 'YuseiMagic';
    
}

.texto_tarjeta  table{
    color: #ffffff;
    padding: 15px;
    font-size: .5 rem;
}

.contadores{
    background-color: rgb(209, 209, 209);
    padding: 10px 0;
    height: 200px;
}
.contador{
    flex-basis: 18%;
    /* border: 1px solid green; */
    font-size: 2.7rem;
    background-color: #F09120;
    color: #ffffff;
    padding-top:30px;
}
.tarjeta{
    flex-basis: 24%;
    border: 2px solid #F09120;
    padding:5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.texto_tarjeta{
    margin: 10px;
    /* border: 1px solid violet; */
    width:40%;
    background-color: black;
    color:#ffffff;
    display: block;
    /* padding: 5px; */
    width:90%;
}
.contenido-header{
    height: 900px;
    background-image: url(../images/perro-gato.jpg);
    background-position: center center;
    background-size: 100%;
}
.minavbar{
	background-color: #fcc839;
	align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos Index Val*/

/* * {
	margin: 0px 0px;
	font-family: 'Montserrat', sans-serif;
} */

.navbar {
	background-color: #fcc839;
	align-content: center;
}

.logo {
	padding: 10px 10px;
	width: 200px;
}

.menu {
	text-decoration: none;
	color: #000;
}

.img1 {
	width: 100%;
}

.t-1 {
	color: #fcc839;
	font-size: 3em;
}

.t-2 {
	color: #fcc839;
	font-size: 2em;
}

.t-3 {
	color: #ffff;
	font-size: 1.5em;
}

.p-1 {
	width: 80%;
}

.p-2 {
	width: 80%;
	color: #fff;
}

.imgIn {
	width: 400px;
	border: 4px #fcc839 solid;
}

.contacto {
	background-color: #000;
}